body{
    font-family: 'Roboto';
    background-color: #1F2937;

}

.nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    margin-bottom: 80px;
}

ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 16px;
}

.hero-content{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}

.hero-content-text{
    margin-right: 50px;
    max-width: 600px;
}

#hero-main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

#header-logo-text{
    font-size: 24px;
    color: #F9FAF8;
}

.hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    color: white;
    background-color: #3882F6;
    width: 90px;
    height: 36px;
    border: none;
    border-radius: 10px;
}

.information{
    margin-top: 150px ;
    padding-bottom: 100px;
    margin-bottom: 0;
    background-color: white;
}
.information h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.img-section{
    display: flex;
    justify-content: center;
    gap: 36px;

}
.img-section p{
    max-width: 200px;
    text-align: center;
    text-wrap: wrap;
}

.img-section img{
    border-radius: 10px;
}

.quote{
    margin-top: 0;
    padding-bottom: 100px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quote-text{
    padding: 100px 350px;
    margin: 0;
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
    padding-bottom: 0;
}

.quote-person{
    align-self: flex-end;
    padding-top: 0;
    padding-right: 350px;
}

.sign-up-area{
    background-color: white;
    display: flex;
}

.sign-up-box{
    display: flex;
    justify-content: center;
}

.sign-up-box button{
    border: 1;
    border-color: white;
}
.footer p{
    text-align: center;
    color: rgb(196, 196, 196);
    padding: 16px;
}